<mat-card>
    <mat-card-header>Regisztráció</mat-card-header>
    
    <form #form (ngSubmit)="registration()">
        <mat-card-content>
            <div class="register-form">
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput name="email" [(ngModel)]="email" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Felhasználó</mat-label>
                    <input matInput name="username" [(ngModel)]="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput name="password" type="password" [(ngModel)]="password" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Jelszó ismét</mat-label> 
                    <input matInput name="passwordCheck" type="password"  [(ngModel)]="passwordCheck" required>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <div class="button-group">
                <button mat-raised-button color="warn" routerLink="/login">Belépés</button>
                <button mat-raised-button color="primary" type="submit">Regisztráció</button>
            </div>
        </mat-card-actions>
     </form>
</mat-card>