mat-card {
  width: 40%;
  margin: 24px auto;
  padding: 32px;
  
    mat-card-header{
        margin-bottom: 30px;
    }
    mat-form-field {
        width: 100%;
    }

  .button-group {
      width: 100%;
      display: flex;
      justify-content: space-around;
  }
}