<mat-toolbar>
    <div class="logo">
      <img style="height: 50px;" src="https://www.deltacountyco.gov/ImageRepository/Document?documentId=14989" alt="">
    </div>
    @if (authService.isLoggedIn) {
      <div class="menu-buttons">
        <button class="menu-button" mat-raised-button routerLink="/covid/cases">Megbetegedések</button>
        <button class="menu-button" mat-raised-button routerLink="/covid/vaccines">Oltások</button>
      </div>
      <div class="user-section">
        <button class="menu-button" color="warn" mat-raised-button (click)="counterErase()">Letöltési számláló törlése ({{ authService.getDowloadedCounter() }})</button>
        {{authService.currentUser()?.username}}
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
      </div>
    }
  </mat-toolbar>