<mat-toolbar>
    <div>
          <span>Covid adatok</span>
    </div>
    @if (authService.isLoggedIn) {
      <div class="menu-buttons">
        <button class="menu-button" mat-raised-button routerLink="/covid/cases">Megbetegedések</button>
        <button class="menu-button" mat-raised-button routerLink="/covid/vaccines">Oltások</button>
      </div>
      <div>{{authService.currentUser()?.username}}</div>
      <div>
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
      </div>
    }
  </mat-toolbar>